.person-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 48%;
  margin-bottom: 3rem;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in;
}

.person-card:hover {
  transform: translateY(-5px);
}

.person-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}

.vehicle-list {
  list-style-type: none;
  padding-left: 0;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

ul {
  padding-left: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a, .text-info {
  color: #007bff;
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.none-decoration{
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .person-card {
    width: 100%;
  }
}
